# Docker files
dockerfile/
*.jar
*.war
*.zip



dockerfile/aws-java-sdk-bundle-*.jar
Spark/Airflow logs
logs/
spark-logs/
spark-events/
spark-work/

# Data directories
postgres/
minio/
nessie/
dremio/

# # Python cache
# __pycache__/
# *.pyc
# *.pyo
# .pytest_cache/

# # IDE
# .vscode/
# .idea/
# *.swp
# *.swo

# # OS
# .DS_Store
# Thumbs.db

# # Environment
# .env
# *.env
# !airflow.env
